{{extend 'layout.html'}}

<article class="tableCell">

	<h3>Our location:</h3>

	<div class="center">

		<!-- **************** Call the Google Map *********************** -->

		<iframe id="map" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=345+Darlington+St+E,+Yorkton,+SK,+Canada&amp;sll=51.230565,-102.438326&amp;sspn=0.033054,0.058966&amp;ie=UTF8&amp;ll=51.223819,-102.434978&amp;spn=0.025802,0.054932&amp;z=14&amp;iwloc=addr&amp;output=embed" seamless>
			</iframe>
		<br>
		<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=345+Darlington+St+E,+Yorkton,+SK,+Canada&amp;sll=51.230565,-102.438326&amp;sspn=0.033054,0.058966&amp;ie=UTF8&amp;ll=51.223819,-102.434978&amp;spn=0.025802,0.054932&amp;z=14&amp;iwloc=addr" target="_blank">
			View Larger Map
		</a>
	</div>

</article>
