{{extend 'layout.html'}}

<article class="tableCell noIndent">
	<h3>Media:</h3>

	<section>
		<p>
			This is the media page
		</p>
	</section>

	<section>
		<p>
			Grace To You<br>
			What keeps men from Christ<br>
			Feb 23, 2013<br>
			<audio controls>
				<source src="/heritage/audio/ca20130223.mp3" type="audio/mpeg">
				<br>
				*** Your browser does not support the audio element ***<br>
				Please upgrade your browser to at least one of the following:<br>
				<br>
				IE 9<br>
				Chrome 6<br>
				Firefox 3.6<br>
				Safari 5<br>
				Opera 10
			</audio>
		</p>
	</section>

</article>
